/* caixa do card*/
.card-container {
background-color: #FDF9F5;
border-radius: 12px;       /* Arredonda as pontas da caixa */
border: 1px solid #EAEAEA; /* contorno*/
padding: 16px;             /* MARGEM INTERNA*/
width: 180px;              /* Largura do card */

display: flex;
flex-direction: column;    /* Empilha os itens forma de coluna */
align-items: center;       /* Centraliza os itens horizontalmente no meio da caixa */
gap: 16px;
}
.card-produto {
 font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  margin: 0;
  text-align: center;
}

.card-foto{
    width: 100px;
    height: 100px;
    background-color: #eaddcf;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.tag-vegano {
  background-color: #E8F5E9; /* Fundo verde claro */
  color: #2E7D32;            /* Texto verde escuro para contraste */
  padding: 4px 12px;         /* Espaçamento interno (4px vertical, 12px horizontal) */
  border-radius: 999px;      /* Arredonda totalmente as pontas, criando formato de pílula */
  font-size: 12px;           /* Letra pequena */
  font-weight: bold;         /* Texto em negrito */
  font-family: sans-serif;
}
